@import "../base/baseline.scss";
@import "../base/variables.scss";

.label {
  color: $dark;
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;

  @include mobile {
    font-size: 1.5rem;
  }
}

.textarea, .input {
  color: $dark;
  display: block;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  background-color: $lighter;
  padding: 0.5rem;
  border: 1px solid $light;
  border-radius: 1rem;
  width: 100%;

  @include mobile {
    font-size: 1.5rem;
  }
}

.error {
  color: red;
  display: block;
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
}

.title {
  color: $dark;
  font-size: 3rem;
}

.submit {
  background-color: $primary;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1.2rem 0.5rem 1.5rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
  border: $primary solid 3px;
  border-radius: 3rem;
  margin-top: 3rem;

  &:hover {
    color: $dark;
  }
}

.option-container {
  margin-bottom: 1.5rem;
}

.option {
  margin-right: 3rem;

  & > input {
    cursor: pointer;
    margin-right: 1rem;
  }

  & > input:after {
    content: '';
    position: relative;
    display: inline-block;
    top: -2px;
    left: -1px;
    width: 15px;
    height: 15px;
    background-color: $light;
    border-radius: 15px;
    border: 1px solid $dark;
  }

  & > input:checked:after {
    content: '';
    position: relative;
    display: inline-block;
    top: -2px;
    left: -1px;
    width: 15px;
    height: 15px;
    background-color: $primary;
    border-radius: 15px;
    border: 1px solid $dark;
  }

  & > span {
    font-weight: 300;
    font-size: 1.2rem;
    color: $dark;

    @include mobile {
      font-size: 1.5rem;
    }
  }
}