@import '../base/variables.scss';

.header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
}

.navbar {
    display: flex;
    width: 40%;
    justify-content: space-around;

    li {
        list-style: none;
    }
}

.navbar-item {
    color: $dark;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}