@import "../base/baseline.scss";

.grid {
  display: grid;
  min-height: 40vh;
}

.background {
  grid-area: 1 / 1;
  filter: brightness(0.7);
}

.container {
  grid-area: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 10vh 10vw;
}