@import "../base/baseline.scss";

.grid {
  display: grid;
  height: 60vh;
}
.grid-md {
  display: grid;
  height: 40vh;

  @include mobile {
    height: 30vh;
  }
}

.background {
  grid-area: 1 / 1;
  filter: brightness(0.7);
}

.container {
  grid-area: 1 / 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 10vh 10vw;
}