@import '../base/baseline.scss';

.container {
    background-color: white;
    padding: 7%;
    display: grid;
    grid-template-columns: 7fr 5fr;

    @include tablet {
        grid-template-columns: 1fr;
    }
    @include mobile {
        grid-template-columns: 1fr;
    }
}

.left-column {
    padding: 3rem;
}
.cover {
    border-radius: 45px;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.3);
}

.right-column {
    background-color: darkgray;
}