@import "../base/variables.scss";
@import "../base/baseline.scss";

.title, .subtitle {
  color: white;
  padding: 0 2rem;
  text-align: center;
  line-height: 100%;
}

.jumboTitle {
  @extend .title;
  font-weight: bold;
  margin: 0;
  font-size: 6rem;

  @include mobile {
    font-size: 4rem;
  }
}
.bannerTitle {
  @extend .jumboTitle;
  font-size: 5rem !important;

  @include mobile {
    font-size: 3.5rem !important;
  }
}

.jumboSubtitle {
  @extend .subtitle;
  font-weight: 200;
  font-size: 6rem;
  margin: 10rem 0 0 0;

  @include mobile {
    font-size: 4rem;
  }
}
.bannerSubtitle {
  @extend .jumboSubtitle;
  font-size: 2.5rem !important;
  margin: 2rem 0 !important;

  @include mobile {
    font-size: 2rem !important;
  }
}
