@import "../base/variables.scss";
@import "../base/baseline.scss";

.title, .subtitle {
  padding: 0 2rem;
  color: white;
  text-align: center;
  line-height: 100%;
}

.jumbo-title {
  @extend .title;
  margin: 0;
  font-weight: bold;
  font-size: 6rem;

  @include mobile {
    font-size: 4rem;
  }
}

.jumbo-subtitle {
  @extend .subtitle;
  font-weight: 200;
  font-size: 6rem;
  margin: 10rem 0 0 0;

  @include mobile {
    font-size: 4rem;
  }
}

.banner-title {
  @extend .jumbo-title;
  font-size: 5rem !important;

  @include mobile {
    font-size: 3.5rem !important;
  }
}

.banner-subtitle {
  @extend .jumbo-subtitle;
  font-size: 2.5rem !important;
  margin: 2rem 0 !important;

  @include mobile {
    font-size: 2rem !important;
  }
}

.text {
  margin: 1rem 0;
  color: $dark;
  line-height: 100%;

  @include tablet {
    text-align: center;
  }
  
  @include mobile {
    text-align: center;
    letter-spacing: 0;
  }
}

.text-title {
  @extend .text;
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.text-subtitle {
  @extend .text;
  font-size: 1.5rem;
  font-weight: 300;
}

.text-description {
  @extend .text;
  font-size: 1.5rem;
  font-weight: normal;
}