@import '../base/variables.scss';
@import '../base/baseline.scss';

.title, .subtitle {
    color: white;
    letter-spacing: 1rem;
    padding: 0 4rem;
    text-align: center;
    line-height: 100%;

    @include mobile {
        letter-spacing: 0.3rem;
    }
}

.jumboTitle {   
    @extend .title;
    font-weight: bold;
    margin: 0 0 3rem 0;
    font-size: 7rem;
}
.bannerTitle {
    @extend .jumboTitle;
    font-size: 5rem !important;
}

.jumboSubtitle {
    @extend .subtitle;
    font-weight: 200;
    font-size: 7rem;
    margin: 1rem 0 0 0;
}   
.bannerSubtitle {
    @extend .jumboSubtitle;
    font-size: 2.5rem !important;
    margin: 5rem 0 2rem !important;
}