@import "../../base/baseline.scss";
@import "../../base/variables.scss";

.container {
  min-height: 300px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
}

.title {
  margin-top: 10vh;
  font-size: 4rem;
  letter-spacing: 1rem;
  color: $dark;
  text-align: center;

  @include mobile {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}