@import '../../base/variables.scss';
@import '../../base/baseline.scss';

.grid {
    display: grid;
    height: 100vh;
}

.background {
    grid-area: 1 / 1;
}

.container {
    grid-area: 1 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    margin: auto;
}

/******* title and subtitle *******/
.title, .subtitle {
    color: white;
    font-size: 7rem;
    letter-spacing: 1rem;
    padding: 0 4rem;
    text-align: center;
    line-height: 100%;

    @include mobile {
        font-size: 5rem;
        letter-spacing: 0.5rem;
    }
}
.title {   
    font-weight: bold;
    margin: 0 0 3rem 0;  
}
.subtitle {
    font-weight: 200;
    margin: 1rem 0 0 0;
}

/******* button *******/
.button-container {
    display: flex;
}
.button {
    text-decoration: none;
    background-color: white;
    border-radius: 3rem;
    padding: 1rem 2rem;
    margin: auto;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: $dark;

    &:hover {
        color: $primary;
    }
}

/******* chevron *******/
.chevron {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    visibility: hidden;
    
    @include mobile {
        width: 40px;
        height: 40px;
    }
}
.chevron-active {
    @extend .chevron;
    visibility: visible;
    animation: scrolldown 2s infinite;
}
@keyframes scrolldown {
    0% {
        transform: translate(-50%, 0);
    }
    20% {
        transform: translate(-50%, 10px);
    }
    40% {
        transform: translate(-50%, 0);
    }
}