@import "../../base/baseline.scss";
@import "../../base/variables.scss";

.container {
  padding: 10vh 10vw;
  display: grid;
  grid-template-columns: 1fr;

  @include desktop-and-above {
    grid-template-columns: 7fr 5fr;
  }
}

/******* left column *******/
.left-column {
  padding: 3rem;

  @include mobile {
    padding: 0;
    margin-bottom: 3rem;
  }
}

/******* right column *******/
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop-and-above {
    margin-left: 2rem;
    padding: 3rem;
  }

  & > p {
    margin: 0;
    color: $dark;

    @include tablet {
      text-align: center;
    }
    @include mobile {
      text-align: center;
      letter-spacing: 0;
    }
  }
}

/******* typography *******/
$size: 3.5rem;
$size-2: 3rem;
.title {
  font-size: calc(#{$size});
  font-weight: bold;
  line-height: 100%;
  margin: 1rem 0 !important;
  @include mobile {
    font-size: calc(#{$size-2});
  }
}
.subtitle {
  font-size: calc(#{$size} * 0.4);
  font-weight: 300;
  @include mobile {
    font-size: calc(#{$size-2} * 0.4);
  }
}
.speaker {
  font-size: calc(#{$size} * 0.7);
  @include mobile {
    font-size: calc(#{$size-2} * 0.7);
  }
}

/******* button group *******/
.button-container {
  display: flex;
  margin-top: 2rem;

  @include tablet {
    margin: 2rem auto;
  }
  @include mobile {
    margin: 2rem auto 1rem;
  }

  /******* general button style *******/
  & > a {
    margin-right: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    border: $primary solid 3px;

    @include mobile {
      font-size: 1.2rem;
      padding: 0.3rem 1.2rem;
    }
  }
}
.button {
  background-color: $primary;
  color: white;

  &:hover {
    color: $dark;
  }
}
.button-hollow {
  color: $primary;

  &:hover {
    color: $dark;
  }
}
