@import '../../base/baseline.scss';
@import '../../base/variables.scss';

.grid {
    display: grid;
    height: fit-content;

    @include desktop-and-above {
        height: 60vh;
    }
}

.background {
    grid-area: 1 / 1;
}

.container {
    grid-area: 1 / 1;
    position: relative;
    padding: 15vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > p {
        margin: 0 0 1rem;
        color: white;
        letter-spacing: 0.2rem;
    }
}

/******* text styles *******/
$size: 3.5rem;
.title {
    font-size: calc(#{$size});
    font-weight: bold;
    line-height: 120%;
}
.subtitle, .description {
    font-size: calc(#{$size} * 0.4);
}

/******* button styles *******/
.button-container {
    margin-top: 4rem;
}
.button {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    background-color: $primary;
    letter-spacing: 0.5rem;
    border: $primary solid 3px;
    border-radius: 3rem;

    &:hover {
        color: $dark;
    }
}