@import '../../base/baseline.scss';
@import '../../base/variables.scss';

/******* container styles *******/
.container-image-left, .container-image-right {
  padding: 0 10vw;
  display: grid;
  grid-template-columns: 1fr;

  // use grid-area to adjust column order in mobile view
  grid-template-areas: 
    "left"
    "right";

  @include desktop-and-above {
    grid-template-columns: 1fr 1fr;
  }
}
.container-image-left {
  @include desktop-and-above {
    grid-template-areas: "left right";
  }  
}
.container-image-right {
  @include desktop-and-above {
    grid-template-areas: "right left";
  }
}

/******* column styles *******/
.left-column, .right-column {
  padding: 2rem;

  @include mobile {
    padding: 0;
  }

  & > p {
    font-size: 1.5rem;
    color: $dark;
  }
}
.left-column {
  grid-area: left;
}
.right-column {
  grid-area: right;
}

/******* image styles *******/
.image {
  border-radius: 3rem;
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 1);
}