/******* screen variables *******/
$tablet-width: 768px;
$desktop-width: 1024px;
$widescreen-width: 1216px;
$fullHD-width: 1408px;

/******* color variables *******/
$dark: #1b1b1b;
$light: #e4e4e4;
$lighter: #f0f0f0;
$primary: #c89214;

/******* font variables *******/
$font-stack: 'Noto Sans TC', sans-serif;